body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: crimson;
    background: linear-gradient(to right, black, crimson, black);
}

/* Este es el link de la fundacion */
a{ 
    display: block;
    text-align: center;
    text-decoration: none; 
    color: white;
    border: 2px solid white;
    padding: 12px 24px;
    border-radius: 10px;
}

/* titulo Analisis y dersarrollo de software */
h1 {
    font-size: 40px;
    text-transform: capitalize; 
    margin-bottom: 20px; 
    margin-top: 50px;   
    color: white;
    border: 9px solid white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
/* ni idea */
.subtitle {
    margin-top: 20px;
}

/* Estilo parrafos JS y FUndacionSCP */
p {
    color: white;
    font-size: 18px;
    text-align: center;
}
/*  Estilo para la imagen SCPBANNER.png */
img { 
    display: block;
    width: 100%;
    height: 400px;
}

